# Compiler files
oracles/contracts/cache/
oracles/contracts/out/
oracles/contracts/lib

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

#node
oracles/data/ts/node_modules/
